#
#
#
[servers]
servers: ['big','mS']


# Test
[test]
cmd: "awk '{ if((match(\$1,\"\\*\") == 1) && (match(\$6,\"filter\") >= 5))  printf(\"#%s\n\",\$0); else printf(\"%s\n\",\$0) } ' /etms/nodescan/config/nodescan.config"

[test2]
cmd: "ps -ef|grep 'chirico'|grep -v grep|awk '{printf(\"kill -9 %s\\n\",\$2)}'"

